<!DOCTYPE html>
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="row">

		<form id="department-info"
		      xmlns:th="http://www.w3.org/1999/xhtml"
		      enctype="multipart/form-data"
		      th:object="${department}"
		      method="POST">

			<h3>Department form</h3>
			<hr />

			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name"
				       th:field="*{name}" />
			</div>

			<input class="btn btn-success" type="submit" value="Submit"/>

			<button class="btn btn-danger" type="button" th:if="${department?.id}"
			        th:onclick="'deleteDepartment(\''+ ${department.id} + '\')'">Delete
			</button>

		</form>
	</div>
</div>
