<!DOCTYPE html>
<div class="container" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
  <h3>Reset Password</h3>
  <!--sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')"-->
  <div>
    <form class="form" th:action="@{/edit-profile-change-password}" method="POST">
      <label>New password</label>
      <input id="password" type="password" name="password" class="form-control" value="" />

      <label>Confirm password</label>
      <input id="matchPassword" type="password" value="" name="matchingPassword" class="form-control" />

      <button type="submit">Update</button>
    </form>
  </div>

</div>
