<!DOCTYPE html>
<div class="container text-center" xmlns:th="http://www.w3.org/1999/xhtml">
  <h3>Reset password</h3>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div th:if="${confirmationEmail}">
        <h5>Confirmation mail has been sent to <b th:text="${{confirmationEmail}}">Email</b></h5>
        <p>Didn't receive your email? Click to send again.</p>
      </div>

      <form action="/reset-password" method="GET">
        <input name="email" class="form-control" placeholder="Enter your email here" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
