<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employees Account Activation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
  Dear <span th:text="${user.email}"></span>
</p>

<p>
  Your account has been created, please click on the URL below to activate it:
</p>

<p>
  <a th:href="@{|${baseUrl}?key=${user.email}|}"
     th:text="|${user.email}|">Activation Link</a>
</p>

<p>
  <span>Regards, </span>
  <br/>
  <em>Employees Application</em>
</p>
</body>
</html>
